{{ partial "header" . }}

<style>
    .bg-img {
        /* background-image: url('{{ .Site.BaseURL }}/img/homepage-light.jpg'); */
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .title, .subtitle {
        text-align: center;
    }
</style>

<section class="hero is-medium">
    <div class="bg-img">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Franchise minuman Boba, Bubble Cheese dan lain-lain.
                </h1>
                <h2 class="subtitle">
                    
                </h2>
                <p class="subtitle">
                </p>                
            </div>
        </div>
    </div>
</section>

{{ partial "footer" . }}