{{ partial "header" . }}

<style>
    .bg-img {
        /* background-image: url('{{ .Site.BaseURL }}/img/homepage-light.jpg'); */
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .title, .subtitle {
        text-align: center;
    }
</style>

<section class="hero is-medium">
    <div class="bg-img">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Jual Rangka Atap Baja Ringan, Truss, Taso, Besi Beton, Plat Baja, Wiremesh, dll.
                </h1>
                <h2 class="subtitle">
                    Beli berbagai kebutuhan besi/baja konstruksi anda disini.
                </h2>
                <p class="subtitle">
                    <a href="{{.Site.BaseURL}}/harga-baja-ringan" class="button">Harga Atap Baja Ringan</a>
                    <br><br>
                    <a href="{{.Site.BaseURL}}/harga-besi-beton" class="button">Harga Besi Beton</a>
                    <br><br>
                    <a href="{{.Site.BaseURL}}/harga-plat-baja" class="button">Harga Plat Baja</a>
                </p>                
            </div>
        </div>
    </div>
</section>

{{ partial "footer" . }}