<a class="menu-item" href="{{ .Site.BaseURL }}peluang-usaha/amp">
    <i class="fa fa-suitcase"></i>
    <span>Peluang Usaha</span>
    <i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="{{ .Site.BaseURL }}inspirasi/amp">
    <i class="fa fa-lightbulb-o"></i>
    <span>Inspirasi</span>
    <i class="fa fa-circle"></i>
</a>
<a class="menu-item" href="{{ .Site.BaseURL }}investasi/amp">
    <i class="fa fa-dollar"></i>
    <span>Investasi</span>
    <i class="fa fa-circle"></i>
</a>
<label class="menu-item" for="toggle-menu"><i class="fa fa-times"></i><span>Close Menu</span><i class="fa fa-circle"></i></label>