<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="site-copy col-sm-7">
                <p>
                    <a href="{{ .Site.BaseURL }}kebijakan-privasi">Kebijakan Privasi</a> &bull;
                    <a href="{{ .Site.BaseURL }}sitemap.xml">Peta Situs</a>
                </p>
                <p>&copy; 2019 PopaBoba.ID. All rights reserved</p>
            </div>
            <div class="site-by col-sm-5 al-right">

            </div>

        </div>
    </div>
</div>
<!-- End Copyright -->

<!-- Preloader !active please if you want -->
<!-- <div id="preloader"><div id="status">&nbsp;</div></div> -->
<!-- Preloader End -->

<!-- JavaScript Bundle -->
<script src="{{ .Site.BaseURL }}js/jquery.bundle.js"></script>
<!-- Theme Script init() -->
<script src="{{ .Site.BaseURL }}js/script.js"></script>
<!-- End script -->
</body>

</html>