<!-- Topbar -->
<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="top-aside top-left clearfix">
                <ul class="top-contact clearfix">
                    <li style="padding:10px 0">
                        <span>Kemitraan Popa Boba</span>
                    </li>
                </ul>
            </div>
            <div class="top-aside top-right clearfix text-center">
                <ul class="top-contact clearfix">
                    <li style="padding:10px 0">
                        <em class="fa fa-envelope-o" aria-hidden="true"></em>
                        <span>
                            popaboba.id@gmail.com
                        </span>
                    </li>
                    <li style="padding:10px 0">
                        <em class="fa fa-whatsapp" aria-hidden="true"></em>
                        <span>
                            <a href="https://api.whatsapp.com/send?phone=6287786139140" class="btn btn-outline btn-sm">
                                WhatsApp
                            </a>
                        </span>

                    </li>
                    <li style="padding:10px 0">
                        <em class="fa fa-phone" aria-hidden="true"></em>
                        <span>
                            <a href="tel:6287786139140" class="btn btn-outline btn-sm">
                                SALES: 0877 8613 9140
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- #end Topbar -->